.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#header {
  font-size: 75px;
  color: navy;
  margin: auto;
  font-weight: bold;
}

#search-box {
  width: 100%
}

/* https://rasleen0209.medium.com/styling-a-react-component-using-flexbox-b0f7f73d21b1 
flexbox with react*/

#movieCard1{ 
  margin: 100px;
  background-color: lightgray;
  height: 350px;
  margin-top: 60px;
  width: 250px;
  float: left;
  margin-left: 120px;
  content: url("https://image.tmdb.org/t/p/original/wigZBAmNrIhxp2FNGOROUAeHvdh.jpg");
}

#trashIcon{
  margin: 100px;
  background-color: white;
  border: none;
  height: 25;
  margin-top: -70px;
  width: 250px;
  float: left;
  margin-left: 120px;
}

#recommendButton{
  position: absolute;
  margin-top: 500px;
  margin-left: -785px;
}

